Repository kickstarter/android-oss, pull requests merged in 2021-03, with the labels that each got.

#1142 EP-244: Create event for watch project CTA
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/viewmodels/ProjectViewModel.kt
  app/src/test/java/com/kickstarter/viewmodels/ProjectViewModelTest.kt
Labels: events 🛤

#1141 EP-163: Create new properties
  app/src/main/java/com/kickstarter/libs/qualifiers/KoalaEndpoint.kt
  app/src/main/java/com/kickstarter/libs/qualifiers/KoalaRetrofit.kt
  app/src/main/java/com/kickstarter/libs/utils/AnalyticEventsUtils.kt
  app/src/main/java/com/kickstarter/mock/factories/ProjectFactory.java
  app/src/main/java/com/kickstarter/ui/views/KSWebView.kt
  app/src/main/java/com/kickstarter/viewmodels/ProjectViewModel.kt
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
Labels: events 🛤

#1146 EP-321:segment type violations
  app/src/main/java/com/kickstarter/libs/ExperimentsClientType.kt
  app/src/main/java/com/kickstarter/libs/OptimizelyExperimentsClient.kt
  app/src/main/java/com/kickstarter/libs/TrackingClientType.kt
  app/src/main/java/com/kickstarter/libs/utils/AnalyticEventsUtils.kt
  app/src/main/java/com/kickstarter/mock/MockExperimentsClientType.kt
  app/src/test/java/com/kickstarter/libs/LakeTest.kt
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
Labels: events 🛤

#1149 EP-257: Create event for Project Card Clicked
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/libs/utils/EventName.kt
  app/src/main/java/com/kickstarter/viewmodels/ActivityFeedViewModel.java
  app/src/main/java/com/kickstarter/viewmodels/DiscoveryFragmentViewModel.java
  app/src/main/java/com/kickstarter/viewmodels/ProfileViewModel.kt
  app/src/main/java/com/kickstarter/viewmodels/SearchViewModel.java
  app/src/test/java/com/kickstarter/viewmodels/ActivityFeedViewModelTest.java
  app/src/test/java/com/kickstarter/viewmodels/DiscoveryFragmentViewModelTest.java
  app/src/test/java/com/kickstarter/viewmodels/ProfileViewModelTest.kt
  app/src/test/java/com/kickstarter/viewmodels/SearchViewModelTest.java
Labels: events 🛤

#1151 NT-1756: Backing fragment crashes
  app/src/main/java/com/kickstarter/mock/factories/BackingFactory.java
  app/src/main/java/com/kickstarter/services/KSApolloClient.kt
  app/src/main/java/com/kickstarter/viewmodels/BackingFragmentViewModel.kt
  app/src/test/java/com/kickstarter/viewmodels/BackingFragmentViewModelTest.kt
Labels: bug 🐛

#1154 [NO-JIRA]: Remove deprecated method
  app/src/main/java/com/kickstarter/services/interceptors/ApiRequestInterceptor.java
Labels: refactor 🛠

#1157 [No-Jira]: Internal release version update for regression
  app/internal_version_code.txt
  app/internal_version_name.txt
Labels: internal tools 🛠

#1152 EP-352: Add context page property to all CTA events and update enum classes
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/viewmodels/ActivityFeedViewModel.java
  app/src/main/java/com/kickstarter/viewmodels/CampaignDetailsViewModel.kt
  app/src/main/java/com/kickstarter/viewmodels/CommentsViewModel.java
  app/src/main/java/com/kickstarter/viewmodels/DiscoveryFragmentViewModel.java
  app/src/main/java/com/kickstarter/viewmodels/ProfileViewModel.kt
  app/src/main/java/com/kickstarter/viewmodels/ProjectUpdatesViewModel.java
  app/src/main/java/com/kickstarter/viewmodels/ProjectViewModel.kt
  app/src/main/java/com/kickstarter/viewmodels/SearchViewModel.java
Labels: events 🛤

#1158 EP-378: Update discover sort property to send correct value
  app/src/main/java/com/kickstarter/libs/utils/AnalyticEventsUtils.kt
Labels: events 🛤

#1159 EP-379: Fix value for context_page violation on project card clicks
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/viewmodels/DiscoveryFragmentViewModel.java
Labels: events 🛤

#1156 EP-317:Android: CTA Clicked (creator_details)
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/viewmodels/ProjectViewModel.kt
  app/src/test/java/com/kickstarter/viewmodels/ProjectViewModelTest.kt
Labels: events 🛤

#1167 NT-1633:Kotlin linter
  .circleci/config.yml
  app/quality.gradle
Labels: maintenance 🗜

#1160 EP-320:Android: Page Viewed (change_payment)
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/viewmodels/ProjectViewModel.kt
  app/src/test/java/com/kickstarter/viewmodels/ProjectViewModelTest.kt
Labels: events 🛤

#1176 NT-1811: Regression-bugs
  app/src/main/java/com/kickstarter/ui/activities/HelpActivity.kt
  app/src/main/java/com/kickstarter/ui/adapters/UpdatesAdapter.kt
  app/src/main/java/com/kickstarter/ui/viewholders/EmptyViewHolder.kt
Labels: bug 🐛

#1178 EP-350/Android: Page Viewed (activity_feed)
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/viewmodels/ActivityFeedViewModel.java
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
  app/src/test/java/com/kickstarter/viewmodels/ActivityFeedViewModelTest.java
Labels: events 🛤

#1179 EP-347/Android: Page Viewed (two_factor_auth)
  app/src/main/java/com/kickstarter/libs/AnalyticEvents.kt
  app/src/main/java/com/kickstarter/libs/utils/EventContextValues.kt
  app/src/main/java/com/kickstarter/viewmodels/TwoFactorViewModel.java
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
  app/src/test/java/com/kickstarter/viewmodels/TwoFactorViewModelTest.java
Labels: events 🛤

#1181 [Android] EP-387: Phase 1 QA Create Property session_country
  app/src/main/java/com/kickstarter/libs/TrackingClient.kt
  app/src/main/java/com/kickstarter/libs/TrackingClientType.kt
  app/src/test/java/com/kickstarter/libs/MockTrackingClient.java
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
Labels: events 🛤

#1180 [Android] EP-389: Phase 1 QA Feedback Priority 1 properties
  app/src/main/java/com/kickstarter/libs/TrackingClient.kt
  app/src/main/java/com/kickstarter/libs/TrackingClientType.kt
  app/src/main/java/com/kickstarter/libs/utils/AnalyticEventsUtils.kt
  app/src/main/java/com/kickstarter/libs/utils/extensions/ConfigExtension.kt
  app/src/test/java/com/kickstarter/libs/LakeTest.kt
  app/src/test/java/com/kickstarter/libs/MockTrackingClient.java
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
  app/src/test/java/com/kickstarter/libs/utils/extensions/ConfigExtensionTest.kt
Labels: events 🛤

#1182 [Android] EP-391: Phase 1 QA Fix Properties
  app/src/main/java/com/kickstarter/libs/TrackingClient.kt
  app/src/test/java/com/kickstarter/libs/LakeTest.kt
  app/src/test/java/com/kickstarter/libs/MockTrackingClient.java
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
Labels: events 🛤

#1183 [Android] EP-390: Phase 1 QA Feedback Priority 2 properties
  app/src/main/java/com/kickstarter/libs/utils/AnalyticEventsUtils.kt
  app/src/test/java/com/kickstarter/libs/SegmentTest.kt
Labels: events 🛤
